{
  "ConnectionStrings": {
    "Default": "Server=localhost;Database=MyDatabase;Integrated Security=true;TrustServerCertificate=true;"
  },
  "Logging": { 
    "LogLevel": {
      "Default": "Information",
      "Microsoft.Hosting.Lifetime": "Information"
    }
  }
}
